.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  max-width: 1140px;
  margin: auto;

  .boder-chung {
    border-radius: 999px;
    border: 1px solid #E7E7E7;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header-left {
  display: flex;
  align-items: center;
  gap: 20px;

  .logo {
    height: 40px;
  }

  .weather {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px 15px;
    border-radius: 20px;
    font-weight: 600;
    width: auto !important;

    img {
      width: 18px;
    }
  }
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px;

  .help {
    cursor: pointer;
    color: #555;
  }

  .icon {
    font-size: 18px;
    cursor: pointer;
  }

  .lang {
    width: auto !important;

    img {
      width: 24px;
      cursor: pointer;
    }
  }

  .user {
    font-weight: 600;
    display: flex;
    gap: 5px;
    >img{
      height: 36px;
      width: 36px;
      border-radius: 999px;
    }
    >div{
      display: flex;
      flex-direction: column;
    }
  }
}