* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.layout-main {
    &__header {
        background: #fff;
        border-bottom: 1px solid #D5D7DA;
    }

    &__content {
        background-color: #f5f5f5;
        min-height: 100vh;
    }
}

.btn-submit-unit {
  background: #7c3aed; 
  border-color: #7c3aed;
  color: white;
  border-radius: 999px;
  padding: 0 14px;
  height: 28px;
  width: 29px !important;
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;

  &:hover {
    background: #6d28d9 !important;
    border-color: #6d28d9 !important;
    color: #fff !important;
  }

  &:active {
    background: #5b21b6 !important;
    border-color: #5b21b6 !important;
  }
}

@import './header.scss';
@import './btnCustom.scss';
@import './login.scss';
@import './cardUser.scss';
@import './tag.scss';
@import './quanLiDonHang.scss';
@import './menuCustom.scss';
@import './bgWhiteBoder.scss';
@import './UserSidebar.scss';
@import './OrderCard.scss';
@import './detailsVe.scss';
@import './layoutAdmin.scss';
@import './input.scss';
@import './select.scss';
@import './add-acc.scss';
@import './table.scss';
@import './allTicket.scss';
@import './profile.scss';
@import './mycart.scss';
@import './myticket.scss';
@import './merchant.scss';
@import './adminHome.scss';
@import './doanhThuAdmin.scss';
@import './doanhThuPhanPhoi.scss';
@import './nhanVienBaoCao.scss';